{# templates/category/new.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
	<div class="container w-50 mx-auto">
		<div>{{form_label(form)}}</div>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Add program</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
